#loading {
    outline: none;
    border: none;
    background: transparent;
    transition: all 1s;
}

#load-button {
    --bs-btn-border-radius: 10vmin;
        height: 30vmin;
        width: 30vmin;
    position: relative;
}

#load-button svg {
    height: 20vmin;
    width: 20vmin;
}

#done-button {
    height: 20vmin;
    width: 20vmin;
    border-radius: 5vmin;
}

.button-text {
    font-family: "Noto Sans JP", sans-serif;
    font: bold 5vmin san-serif;
    transition: all 0.2s;
}

.button-loading .button-text {
    visibility: hidden;
    opacity: 0;
}

.button-loading::after {
    content: "";
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2vmin solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
